@page

<!DOCTYPE html>   
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Inicio de sesión</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css"> 
    </head>
    <body>
        <header>
            <br><br>
            <div align="center"> <h1>Inicio de sesión de UV eats</h1></div> 
            <br><br>
        </header>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2" align="center">
                <div class="row rowText"><img style="margin-left: auto;margin-right: auto" src="../imgs/Logo.png" alt="" width="300" height="200" /></div>
            </div>
            <div class="col-sm-1" align="center"></div>
            <div class="col-sm-2" align="center">
                <div class="row">
                    Correo:
                    <input id="txt_correo" type="email"/>
                    <br><br>
                    Contraseña:
                    <input id="txt_passwd" type="password"/>
                </div>
                <div align="center">
                    <br>    
                    <button type="button" class="btn btn-success"><a href="indexEmpleados.html" >Iniciar Sesión</button></a><br><br>
                    ¿No tienes cuenta? Regístrate
                    <br><br>
                    <button type="button" class="btn btn-primary">Registrarse</button></a>
                </div>
            </div>
        </div>
    </body>

</html>